<% provide(:title, '联系Someday') %> 
<h1>联系Someday</h1>
<p>
  关注SomedayWill公众号，主人便是Someday，可以直接后台交流（推荐），或发邮件至somedayjiayi@163.com，Someday期待与你的交流！
</p>

<div class="center">
      <%= link_to image_tag("SomedayWill_QR_code.jpg", alt: "SomedayWill_QR_code"),'http://somedaywill.cn/'%>
<div class="center">
