<% provide(:title, '规划问题') %>
<h1>规划问题</h1>

<!DOCTYPE html>
<html>

<head>
</head>

<body style="margin:0">

    <div class = "container">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading"><span class="text-muted">问题1：</span>楼房过度密集</h2>
            <p class="lead">
                问题街景：1b817d6fec6a517d5d0d0245 <br>
                问题坐标：(113.313829,23.093057)<br>
                问题位置：广东省广州市海珠区鹭江西街三巷1号北记美食<br>
                <br>
                问题街景：5ad549ccc4dd5cc058f6be0a <br>
                问题坐标：(113.302995,23.090365)<br>
                问题位置：广东省广州市海珠区康乐西约新区二横巷21号鼎宖复合厂<br>
            </p>
            </div>
            <div class="col-md-5 col-md-pull-8">
                <img src="/images/problem_demo/1b817d6fec6a517d5d0d0245_90.jpg" alt="spider" width="500" height="250">
                <img src="/images/problem_demo/5ad549ccc4dd5cc058f6be0a_270.jpg" alt="spider" width="500" height="250">
                
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
            <h2 class="featurette-heading"><span class="text-muted">问题2：</span>与日俱增的共享单车</h2>
            <p class="lead">
            问题街景：b501d22fc3dca65279dbd261 <br>
            问题坐标：(116.419190,39.903158)<br>
            问题位置：北京市东城区东兴隆街58-6号北京汇商街II<br>
            <br>
            问题街景：24e1548496f4893728b97ce3 <br>
            问题坐标：(116.447451,39.849661)<br>
            问题位置：北京市丰台区苇子坑22号院6号楼<br>
        
        </p>
            </div>
            <div class="col-md-5">
                <img src="/images/problem_demo/b501d22fc3dca65279dbd261_270.jpg" alt="spider" width="500" height="250">
                <img src="/images/problem_demo/24e1548496f4893728b97ce3_270.jpg" alt="spider" width="500" height="250">   
            </div>
        </div>

        <hr class="featurette-divider">
        
    </div>

</body>

</html>