<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>City-Eyes</title>

	<link href="/City-Eyes_files/skyline.css" type="text/css" rel="stylesheet">
    <link href="/City-Eyes_files/coolLayout.css" type="text/css" rel="stylesheet">


</head>
<body>
<div class="skyline">
	<div class="main">
		<!-- cont inner start -->

        <div class="container">
    
        <div id="myCarousel2" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li id="li0" data-target="#myCarousel2" data-slide-to="0" class="active"></li>
            <li id="li1" data-target="#myCarousel2" data-slide-to="1"></li>
            <li id="li2" data-target="#myCarousel2" data-slide-to="2"></li>
            <li id="li3" data-target="#myCarousel2" data-slide-to="3"></li>
            <li id="li4" data-target="#myCarousel2" data-slide-to="4"></li>
            <li id="li5" data-target="#myCarousel2" data-slide-to="5"></li>
            <li id="li6" data-target="#myCarousel2" data-slide-to="6"></li>
            <li id="li7" data-target="#myCarousel2" data-slide-to="7"></li>
            <li id="li8" data-target="#myCarousel2" data-slide-to="8"></li>
            <li id="li9" data-target="#myCarousel2" data-slide-to="9"></li>
            <li id="li10" data-target="#myCarousel2" data-slide-to="10"></li>
            <li id="li11" data-target="#myCarousel2" data-slide-to="11"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                        
                <div class="item active">
                    <img class="img-responsive center-block" src="/images/semantic_demo/1.jpg" height = "100%"  >      
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="/images/semantic_demo/2.jpg" width = "100%" >                 
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="/images/semantic_demo/3.jpg" width = "100%" >                 
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="/images/semantic_demo/4.jpg" width = "100%" >                 
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="/images/semantic_demo/5.jpg" width = "100%" >                 
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="/images/semantic_demo/6.jpg" width = "100%" >                 
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="/images/semantic_demo/7.jpg" width = "100%" >                 
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="/images/semantic_demo/8.jpg" width = "100%" >                 
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="/images/semantic_demo/9.jpg" width = "100%" >                 
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="/images/semantic_demo/10.jpg" width = "100%" >                 
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="/images/semantic_demo/11.jpg" width = "100%" >                 
                </div>
                <div class="item">
                    <img class="img-responsive center-block" src="/images/semantic_demo/12.jpg" width = "100%" >                 
                </div>
            </div>
            
        </div>


    </div>

		<!-- cont inner end -->
	</div>
</div>



<script type="text/javascript" src="/City-Eyes_files/sketch.min.js"></script>
<script type="text/javascript" src="/City-Eyes_files/skyline.js"></script>



</body>

</html>








